mlflow==1.14.1
SQLAlchemy
pydantic
uvicorn
pyodbc==4.0.30
requests==2.25.1
fastapi==0.63.0
numpy==1.20.2
scikit-learn
loguru==0.5.3
cloudpickle
starlette
pandas
pymssql
matplotlib
protobuf
lightgbm
imblearn
statsmodels
xgboost
imblearn
pandasql3