shap>=0.36.0
woodwork==0.0.11
featuretools>=0.20.0
dask>=2.12.0
nlp-primitives>=1.1.0
networkx>=2.5
plotly>=4.14.0
kaleido>=0.1.0
ipywidgets>=7.5
graphviz>=0.13
seaborn>=0.11.1
category_encoders>=2.0.0
